/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
    --primary-color: #4f46e5;
    --secondary-color: #6b7280;
    --background-color: #f9fafb;
    --heading-text-color: #111;
    --paragraph-text-color: #555;
}

body {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
}

.header {
    height: calc(100vh - 90vh);
}

.main-container {
    height: calc(100vh - 10vh);
}